trytond/ir/ui/board.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="board">
    <element name="board">
      <ref name="attlist.board"/>
      <zeroOrMore>
        <choice>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="label"/>
          <ref name="newline"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="action"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.board" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue="Unknown"/>
    </optional>
  </define>
  <define name="attlist.board" combine="interleave">
    <optional>
      <attribute name="col" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="image">
    <element name="image">
      <ref name="attlist.image"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.image" combine="interleave">
    <attribute name="name"/>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="states"/>
    </optional>
  </define>
  <define name="separator">
    <element name="separator">
      <ref name="attlist.separator"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue=""/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="name"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="states"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="align" a:defaultValue="0.0"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="label">
    <element name="label">
      <ref name="attlist.label"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue=""/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="name"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="states"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="align" a:defaultValue="0.0"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="xexpand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="xfill" a:defaultValue="1">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="newline">
    <element name="newline">
      <ref name="attlist.newline"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.newline" combine="interleave">
    <empty/>
  </define>
  <define name="notebook">
    <element name="notebook">
      <ref name="attlist.notebook"/>
      <zeroOrMore>
        <ref name="page"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.notebook" combine="interleave">
    <optional>
      <attribute name="tabpos">
        <choice>
          <value>up</value>
          <value>down</value>
          <value>left</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.notebook" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="page">
    <element name="page">
      <ref name="attlist.page"/>
      <zeroOrMore>
        <choice>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="label"/>
          <ref name="newline"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="action"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.page" combine="interleave">
    <optional>
      <attribute name="angle"/>
    </optional>
  </define>
  <define name="attlist.page" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue="Unknown"/>
    </optional>
  </define>
  <define name="attlist.page" combine="interleave">
    <optional>
      <attribute name="col" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="group">
    <element name="group">
      <ref name="attlist.group"/>
      <zeroOrMore>
        <choice>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="label"/>
          <ref name="newline"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="action"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="string"/>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="1">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="rowspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="col" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="hpaned">
    <element name="hpaned">
      <ref name="attlist.hpaned"/>
      <optional>
        <ref name="child1"/>
      </optional>
      <optional>
        <ref name="child2"/>
      </optional>
    </element>
  </define>
  <define name="attlist.hpaned" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="attlist.hpaned" combine="interleave">
    <optional>
      <attribute name="position"/>
    </optional>
  </define>
  <define name="vpaned">
    <element name="vpaned">
      <ref name="attlist.vpaned"/>
      <optional>
        <ref name="child1"/>
      </optional>
      <optional>
        <ref name="child2"/>
      </optional>
    </element>
  </define>
  <define name="attlist.vpaned" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="attlist.vpaned" combine="interleave">
    <optional>
      <attribute name="position"/>
    </optional>
  </define>
  <define name="child1">
    <element name="child1">
      <ref name="attlist.child1"/>
      <zeroOrMore>
        <choice>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="label"/>
          <ref name="newline"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="action"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.child1" combine="interleave">
    <empty/>
  </define>
  <define name="child2">
    <element name="child2">
      <ref name="attlist.child2"/>
      <zeroOrMore>
        <choice>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="label"/>
          <ref name="newline"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="action"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.child2" combine="interleave">
    <empty/>
  </define>
  <define name="data">
    <element name="data">
      <ref name="attlist.data"/>
      <oneOrMore>
        <ref name="xpath"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.data" combine="interleave">
    <empty/>
  </define>
  <define name="xpath">
    <element name="xpath">
      <ref name="attlist.xpath"/>
      <ref name="any"/>
    </element>
  </define>
  <define name="attlist.xpath" combine="interleave">
    <attribute name="expr"/>
  </define>
  <define name="attlist.xpath" combine="interleave">
    <optional>
      <attribute name="position" a:defaultValue="inside">
        <choice>
          <value>inside</value>
          <value>replace</value>
          <value>after</value>
          <value>before</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="action" combine="choice">
    <notAllowed/>
  </define>
  <define name="label" combine="choice">
    <notAllowed/>
  </define>
  <start>
    <choice>
      <ref name="data"/>
      <ref name="board"/>
      <ref name="label"/>
    </choice>
  </start>
  <define name="any">
    <zeroOrMore>
      <choice>
        <element>
          <anyName/>
          <zeroOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </zeroOrMore>
          <ref name="any"/>
        </element>
        <text/>
      </choice>
    </zeroOrMore>
  </define>
</grammar>
