trytond/ir/ui/form.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0">
  <define name="form">
    <element name="form">
      <ref name="attlist.form"/>
      <zeroOrMore>
        <choice>
          <ref name="label"/>
          <ref name="field"/>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="newline"/>
          <ref name="button"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="properties"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.form" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue="Unknown"/>
    </optional>
  </define>
  <define name="attlist.form" combine="interleave">
    <optional>
      <attribute name="on_write"/>
    </optional>
  </define>
  <define name="attlist.form" combine="interleave">
    <optional>
      <attribute name="col" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="attlist.form" combine="interleave">
    <optional>
      <attribute name="cursor"/>
    </optional>
  </define>
  <define name="tree">
    <element name="tree">
      <ref name="attlist.tree"/>
      <oneOrMore>
        <ref name="field"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.tree" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue="Unknown"/>
    </optional>
  </define>
  <define name="attlist.tree" combine="interleave">
    <optional>
      <attribute name="on_write"/>
    </optional>
  </define>
  <define name="attlist.tree" combine="interleave">
    <optional>
      <attribute name="editable">
        <choice>
          <value>top</value>
          <value>bottom</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.tree" combine="interleave">
    <optional>
      <attribute name="sequence"/>
    </optional>
  </define>
  <define name="attlist.tree" combine="interleave">
    <optional>
      <attribute name="colors"/>
    </optional>
  </define>
  <define name="graph">
    <element name="graph">
      <ref name="attlist.graph"/>
      <ref name="x"/>
      <ref name="y"/>
    </element>
  </define>
  <define name="attlist.graph" combine="interleave">
    <optional>
      <attribute name="type" a:defaultValue="vbar">
        <choice>
          <value>vbar</value>
          <value>hbar</value>
          <value>line</value>
          <value>pie</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.graph" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue="Unknown"/>
    </optional>
  </define>
  <define name="attlist.graph" combine="interleave">
    <optional>
      <attribute name="background" a:defaultValue="#f5f5f5"/>
    </optional>
  </define>
  <define name="attlist.graph" combine="interleave">
    <optional>
      <attribute name="color" a:defaultValue="blue"/>
    </optional>
  </define>
  <define name="attlist.graph" combine="interleave">
    <optional>
      <attribute name="legend" a:defaultValue="1">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="x">
    <element name="x">
      <ref name="attlist.x"/>
      <ref name="field"/>
    </element>
  </define>
  <define name="attlist.x" combine="interleave">
    <empty/>
  </define>
  <define name="y">
    <element name="y">
      <ref name="attlist.y"/>
      <oneOrMore>
        <ref name="field"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.y" combine="interleave">
    <empty/>
  </define>
  <define name="label">
    <element name="label">
      <ref name="attlist.label"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue=""/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="name"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="states"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="align" a:defaultValue="0.0"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="xexpand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="xfill" a:defaultValue="1">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.label" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="field">
    <element name="field">
      <ref name="attlist.field"/>
      <zeroOrMore>
        <choice>
          <ref name="tree"/>
          <ref name="form"/>
          <ref name="graph"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.field" combine="interleave">
    <attribute name="name"/>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="widget">
        <choice>
          <value>date</value>
          <value>char</value>
          <value>many2one</value>
          <value>date</value>
          <value>one2many</value>
          <value>selection</value>
          <value>float</value>
          <value>numeric</value>
          <value>float_time</value>
          <value>interger</value>
          <value>datetime</value>
          <value>boolean</value>
          <value>text</value>
          <value>url</value>
          <value>email</value>
          <value>callto</value>
          <value>sip</value>
          <value>sha</value>
          <value>reference</value>
          <value>binary</value>
          <value>many2many</value>
          <value>image</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="saves">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="expand">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="fill">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="empty">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="xexpand" a:defaultValue="1">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="xfill" a:defaultValue="1">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="width"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="height"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="readonly"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="required"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="tree_invisible" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="mode"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="completion" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="invisible" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="sum"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="key"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="domain"/>
    </optional>
  </define>
  <define name="attlist.field" combine="interleave">
    <optional>
      <attribute name="color"/>
    </optional>
  </define>
  <define name="image">
    <element name="image">
      <ref name="attlist.image"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.image" combine="interleave">
    <attribute name="name"/>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="attlist.image" combine="interleave">
    <optional>
      <attribute name="states"/>
    </optional>
  </define>
  <define name="separator">
    <element name="separator">
      <ref name="attlist.separator"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue=""/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="name"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="states"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="align" a:defaultValue="0.0"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.separator" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="newline">
    <element name="newline">
      <ref name="attlist.newline"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.newline" combine="interleave">
    <empty/>
  </define>
  <define name="button">
    <element name="button">
      <ref name="attlist.button"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.button" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.button" combine="interleave">
    <optional>
      <attribute name="help"/>
    </optional>
  </define>
  <define name="attlist.button" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue="Unknown"/>
    </optional>
  </define>
  <define name="attlist.button" combine="interleave">
    <optional>
      <attribute name="icon"/>
    </optional>
  </define>
  <define name="attlist.button" combine="interleave">
    <optional>
      <attribute name="type" a:defaultValue="workflow">
        <choice>
          <value>workflow</value>
          <value>object</value>
          <value>action</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.button" combine="interleave">
    <optional>
      <attribute name="confirm"/>
    </optional>
  </define>
  <define name="attlist.button" combine="interleave">
    <attribute name="name"/>
  </define>
  <define name="attlist.button" combine="interleave">
    <optional>
      <attribute name="states"/>
    </optional>
  </define>
  <define name="notebook">
    <element name="notebook">
      <ref name="attlist.notebook"/>
      <zeroOrMore>
        <ref name="page"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.notebook" combine="interleave">
    <optional>
      <attribute name="tabpos">
        <choice>
          <value>up</value>
          <value>down</value>
          <value>left</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.notebook" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="page">
    <element name="page">
      <ref name="attlist.page"/>
      <zeroOrMore>
        <choice>
          <ref name="label"/>
          <ref name="field"/>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="newline"/>
          <ref name="button"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="properties"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.page" combine="interleave">
    <optional>
      <attribute name="angle"/>
    </optional>
  </define>
  <define name="attlist.page" combine="interleave">
    <optional>
      <attribute name="string" a:defaultValue="Unknown"/>
    </optional>
  </define>
  <define name="attlist.page" combine="interleave">
    <optional>
      <attribute name="col" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="group">
    <element name="group">
      <ref name="attlist.group"/>
      <zeroOrMore>
        <choice>
          <ref name="label"/>
          <ref name="field"/>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="newline"/>
          <ref name="button"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="properties"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="string"/>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="expand" a:defaultValue="0">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="fill" a:defaultValue="1">
        <choice>
          <value>0</value>
          <value>1</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="rowspan" a:defaultValue="1"/>
    </optional>
  </define>
  <define name="attlist.group" combine="interleave">
    <optional>
      <attribute name="col" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="hpaned">
    <element name="hpaned">
      <ref name="attlist.hpaned"/>
      <optional>
        <ref name="child1"/>
      </optional>
      <optional>
        <ref name="child2"/>
      </optional>
    </element>
  </define>
  <define name="attlist.hpaned" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="attlist.hpaned" combine="interleave">
    <optional>
      <attribute name="position"/>
    </optional>
  </define>
  <define name="vpaned">
    <element name="vpaned">
      <ref name="attlist.vpaned"/>
      <optional>
        <ref name="child1"/>
      </optional>
      <optional>
        <ref name="child2"/>
      </optional>
    </element>
  </define>
  <define name="attlist.vpaned" combine="interleave">
    <optional>
      <attribute name="colspan" a:defaultValue="4"/>
    </optional>
  </define>
  <define name="attlist.vpaned" combine="interleave">
    <optional>
      <attribute name="position"/>
    </optional>
  </define>
  <define name="child1">
    <element name="child1">
      <ref name="attlist.child1"/>
      <zeroOrMore>
        <choice>
          <ref name="label"/>
          <ref name="field"/>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="newline"/>
          <ref name="button"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="properties"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.child1" combine="interleave">
    <empty/>
  </define>
  <define name="child2">
    <element name="child2">
      <ref name="attlist.child2"/>
      <zeroOrMore>
        <choice>
          <ref name="label"/>
          <ref name="field"/>
          <ref name="image"/>
          <ref name="separator"/>
          <ref name="newline"/>
          <ref name="button"/>
          <ref name="notebook"/>
          <ref name="group"/>
          <ref name="hpaned"/>
          <ref name="vpaned"/>
          <ref name="properties"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist.child2" combine="interleave">
    <empty/>
  </define>
  <define name="properties">
    <element name="properties">
      <ref name="attlist.properties"/>
      <empty/>
    </element>
  </define>
  <define name="attlist.properties" combine="interleave">
    <empty/>
  </define>
  <define name="data">
    <element name="data">
      <ref name="attlist.data"/>
      <oneOrMore>
        <ref name="xpath"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist.data" combine="interleave">
    <empty/>
  </define>
  <define name="xpath">
    <element name="xpath">
      <ref name="attlist.xpath"/>
      <ref name="any"/>
    </element>
  </define>
  <define name="attlist.xpath" combine="interleave">
    <attribute name="expr"/>
  </define>
  <define name="attlist.xpath" combine="interleave">
    <optional>
      <attribute name="position" a:defaultValue="inside">
        <choice>
          <value>inside</value>
          <value>replace</value>
          <value>after</value>
          <value>before</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <define name="any">
    <zeroOrMore>
      <choice>
        <element>
          <anyName/>
          <zeroOrMore>
            <attribute>
              <anyName/>
            </attribute>
          </zeroOrMore>
          <ref name="any"/>
        </element>
        <text/>
      </choice>
    </zeroOrMore>
  </define>
  <start>
    <choice>
      <ref name="data"/>
      <ref name="form"/>
    </choice>
  </start>
</grammar>
